body{
    font-family: 'Poppins', sans-serif;
    background-color:cyan;
    
}

h1{
    font-family: 50px;
    
}
 .red{
     color:red;
 }
 .black{
     color:blue;
 }
 .rr{
     color: green;
 }
 #to{
     font-size: 50px;
 }
 section{
     display: flex;
     margin-left: 7%;
 }
 .gm{
     width: 40%;
 }
 .gm img{
     width: 20%;
 }
 .link-button{
     text-decoration: none;
     background-color: violet;
     padding: 10px 40px;
 }

 h1{
     color: slateblue;
     font-size: 40px;
    }
    .experince-area{
        color: black;
        
    }
 h2{
     color: red;
 }
 .oo{
     padding-left: 2%;
     box-shadow: 10px 10px 40px red;
 }
 .experience- area{
     width: 40%;
     margin-left: 5%;
     margin-right: 5%;
     padding-left: 20%;
     border-right: 10px solid;

 }
 footer p{
     text-align: center;
 }