body{
    font-family: 'Poppins', sans-serif;
}
h1{
    font-family: 50px;
    
}
 .red{
     color: slateblue;
 }
 .rr{
     color: rgb(212, 185, 180);
 }
 section{
     display: flex;
     margin-left: 2%;
 }
 .gm{
     width: 40%;
 }
 .gm img{
     width: 80%;
 }
 .link-button{
     text-decoration: none;
     background-color: violet;
     padding: 10px 40px;
 }

 h1{
     color: slateblue;
    

 }
 
 