body{
    font-family: 'Poppins', sans-serif;
    background-color:cyan;
    
}

h1{
    font-family: 50px;
    
}
 .red{
     color:red;
 }
 .black{
     color:blue;
 }
 .rr{
     color: green;
 }
 section{
     display: flex;
     margin-left: 8%;
 }
 .gm{
     width: 40%;
 }
 .gm img{
     width: 20%;
 }
 .link-button{
     text-decoration: none;
     background-color: violet;
     padding: 10px 40px;
 }

 h1{
     color: slateblue;
    }
    .experince-area{
        color: black;
        
    }
 h2{
     color: red;
 }
 